.snakeGrid {
    min-width: 90vh;
    min-height: 90vh;
    background-color: blanchedalmond;
}
.table {
    table-layout: fixed;
    border: 2px solid red;
}
.cell {
    height: 20px;
    width: 20px;
    background-color: blue;
}